h1 {
	font-family: sans-serif;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
input {
	margin-bottom: 20px;
	font-size: 2em;
	padding: 20px 10px;
}

.btn {
	border: none;
	padding: 20px 40px;
	margin-bottom: 50px;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
